version: "3.8"

services:
  bookctrl:
    container_name: bookctrl
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8010:3000"
    environment:
      DATABASE_URL: "file:/data/dev.db"
      EBOOKS_DIR: "/data/ebooks"
    volumes:
      - ./data:/data
